services:
  bitcoind:
    image: bitcoin/bitcoin:27.2   # or ruimarinho/bitcoin-core:27.2
    container_name: onchain-bitcoind
    restart: unless-stopped
    command:
      - -server=1
      - -txindex=1
      - -rpcbind=0.0.0.0
      - -rpcallowip=0.0.0.0/0
      - -rpcport=8332
      - -listen=1
      - -port=8333
      - -rpcuser=${BTC_RPC_USER}
      - -rpcpassword=${BTC_RPC_PASS}
      - -fallbackfee=0.0002
      - -printtoconsole
    ports:
      - "8332:8332"              # mainnet RPC
      - "8333:8333"              # mainnet P2P
    volumes:
      - type: bind
        source: D:/Blockchain/bitcoind
        target: /home/bitcoin/.bitcoin

volumes: {}

